body {
    overflow-x: hidden;
}
.carousel img{
    width: 100%;
    height: 560px;
    object-fit: cover;
}
li {
    list-style: none;
}

h1 {
    color: #fff;
}

li img {
    object-fit: cover;
    max-height: 380px;
}

.card-img-overlay {
    background-color: rgba(0,0,0,0.7);
}

#img-sobre-a-loja {
    height: 550px;
}

.navbar-nav .nav-link.active{
    color: #fff;
}

.nav-link {
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

@media (max-width: 1023px) {
    li img {
    object-fit: cover;
    max-height: 300px;
    width: 50%;
}
}

@media (max-width: 767px) {
    li img {
    object-fit: cover;
    max-height: 450px;
    width: 100%;
}
}